# Core web framework and utilities
fastapi
uvicorn
jinja2

# Google Cloud and AI-related packages
google-cloud-aiplatform
google-cloud-texttospeech
google-generative-ai>=0.7.2


# Asynchronous networking
aiohttp
websockets

